@charset "utf-8";
/* CSS Document */


/*-----------------返回首页开始--------------*/
#header {
	position: absolute;
	top: -100px;
	left: 0px;
	z-index: 9999;
	width: 100%;
	height: 40px;
	padding: 6px 0%;
	background: #4c88dd;
	color: #000;
}
.gohome {
	width: 40px;
	height: 40px;
	float: left;
	padding-left: 5px;
}
.gohome a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	display: block;
	text-align: center;
}
.gohome a img {
	display: inline-block;
	max-height: 40px;
}

/*-----------------返回首页结束--------------*/
/*-----------------nav--------------*/
.nav_home {
	width: 40px;
	height: 40px;
	float: right;
	padding-right: 10px;
}
.nav_home a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	display: block;
	text-align: center;
}
.nav_home a img {
	float: left;
	display: inline-block;
	max-height: 40px;
}
.nav_home ul {
	display: none;
}
.nav_home:hover ul {
	float: right;
	display: block;
	width: 160px;
	height: auto;
	margin-right: -10px;
	background: #4c88dd;
}
.nav_home ul li {
	line-height: 40px;
	border-bottom: 1px solid #06C;
}
.nav_home ul li a {
	text-align: center;
	padding-right: 15px;
}
.nav_home ul li a img {
	float: left;
	display: inline-block;
	max-height: 40px;
	margin: 0 5px 0 10px;
}
.nav_home ul li a:hover {
	color: blue;
}
/*-----------------nav--------------*/
/*----------头部---------------*/
.swiper-container {
	width: 800px;
	height: 100%;
}
.pages_container {
	margin-top: 50px;
	margin-bottom: 15px;
	background: none;
	padding: 15px 3%;
	border: none;
	width: 94%;
	background: #FFF;
}
.sliderbg {
	background-color: #ececec;
}
/*头部结束-------------------------------------------*/

p {
	text-indent: 2em;
	padding: 0 0 5px 0;
}
blockquote {
	line-height: 25px;
}
blockquote p {
	text-indent: 0;
}
/*------------------------------------------*/
h1, h2, h3, h4, h5, h6, {
 font-family: 'Open Sans', sans-serif;
}
h2.page_title {
	color: #ffffff;
	font-size: 30px;
	padding: 0 0 20px 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0px;
	padding: 5px 0 5px 0;
	clear: both;
	letter-spacing: -1px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 20px;
	padding-left: 3%;
	margin-top: 5px;
}
h5 a {
	text-decoration: none;
	color: #000;
}
h5 a:hover {
	color: blue;
}
h6{
	margin-top:0;}
/*--------------------分隔线----------------------*/
.hr0 {
	height: 1px;
	border: none;
	border-top: 1px dotted #333111;
}
.hr1 {
	height: 1px;
	border: none;
	border-top: 1px dashed #999999;
}
/* Border radius
/*------------------------------------------*/
.radius4 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.radius6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.radius8 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.radius20 {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
/*回到顶部*/
.scrolltop {
	width: 40px;
	height: 40px;
	margin: auto;
	display: block;
	border: 1px #4c88dd solid;
	background: #4c88dd;
}
.scrolltop a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	display: block;
	text-align: center;
}
.scrolltop a img {
	display: inline-block;
	max-height: 28px;
	margin: 5px 0 0 0;
}
/*------------------------------------------*/

/*---------商标---------------*/
.brand {
	width: 100%;
	height: 20px;
	font-size: 12px;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	margin-top: 5px;
}
/*---------底部滑动边框开始---------------*/
.pagination {
	position: absolute;
	z-index: 20;
	left: 0px;
	bottom: 10px;
	text-align: center;
	width: 100%;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 12px;
	height: 3px;
	background: #222;
	margin-right: 5px;
	opacity: 0.5;
	cursor: pointer;
}
.swiper-active-switch {
	background: blue;
}

/* CSS Media Queries
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {
.swiper-container {
	width: 100%;
}
.logo {
	padding: 15px 0 10px 10px;
	font-size: 45px;
}
}
@media screen and (max-width: 480px) {
.logo {
	padding: 10px 0 10px 15px;
	font-size: 40px;
}
}
@media screen and (max-width: 360px) {
.logo {
	padding: 10px 0 10px 10px;
	font-size: 40px;
}
}
@media screen and (max-width: 320px) {
.borders ul li {
	padding: 4% 0.1%;
	width: 27%;
}
}
